{% extends "layout.html" %}

{% block body %}
  

    <ul>
    {% for show in shows %}
    <li>

    
    
      <td><a href="{{ url_for('show_information', show_id=show.id) }}">{{ show.name }}</a></td>
      <td>{{ show.show_date }}</td>
      
      
      <td>
        {% if show.id not in shiftIds %}
        <form method="POST" action="{{ url_for('shows_hand_up', show_id=show.id) }}">
          <input type="submit" value="I want to work here"/>
        </form>
      {% else %}
      <td><b>Already signed up for this</b></td>
      <td>
        <form method="POST" action="{{ url_for('shift_list_delete', show_id=show.id) }}">
          <input type="submit" value="Cancel sign up (Warning, no confirmation!)!"/>
        </form>
      </td>


      {% endif %}
      </td>
      

    </tr>
    </li>
    {% endfor %}
  </ul>
  
{% endblock %}