{% extends "layout.html" %}

{% block body %}
  <p>

{% if current_user.is_authenticated %}

Logged in as {{ current_user.name }}. 
<br>

{% if 'ADMIN' in current_user.roles() %}


PLEASE NOTE: Functionality has changed: To add shows to a production, please visit List productions -page.
<br>
{% if most_openings is defined %}
<p>
  Productions with most shows:
  (Aggregate query #1)
</p>
{% endif %}


<ul>
  {% for show in most_openings %}
  <li>
    <td>{{ show.name }}</td>
    <td>{{ show.LKM }}</td>
    
  </li>
  {% endfor %}
</ul>
Users:
<ul>
  {% for user in users %}
  <li>
    <td>{{ user.name }}</td>
   
    
  </li>
  {% endfor %}
</ul>

{% if usersWithShifts is defined %}
<p>
  Users with most workshifts:
  (Aggregate query #2)
</p>
{% endif %}

<ul>
  {% for userWithShifts in usersWithShifts %}
  <li>
    <td>{{ userWithShifts.name }}</td>
    <td>{{ userWithShifts.LKM }}</td>
  </li>
  {% endfor %}
</ul>

  {% else %}
{% endif %}

I have signed up for the following workshifts:
<ul>
  {% for show in showList %}
  <li>
    <tr>
    <td><a href="{{ url_for('show_information', show_id=show.id) }}">{{ show.name }}</a></td>
    <td>{{ show.show_date }}</td>
    <td>
      <form method="POST" action="{{ url_for('shift_delete', show_id=show.id) }}">
        <input type="submit" value="Cancel sign up (Warning, no confirmation!)!"/>
      </form>
    </td>
  </tr>
    
    
    
  </li>
  {% endfor %}
</ul>



{% endif %}

    
  </p>
{% endblock %}
