{% extends "layout.html" %}

{% block body %}
  <p>

{% if current_user.is_authenticated %}

Logged in as {{ current_user.name }}. 
<br>
PLEASE NOTE: Functionality has changed: To add shows to a production, please visit List productions -page.
<br>
{% if most_openings is defined %}
<p>
  Productions with most shows:
</p>
{% endif %}


<ul>
  {% for show in most_openings %}
  <li>
    <td>{{ show.name }}</td>
    <td>{{ show.LKM }}</td>
    
  </li>
  {% endfor %}
</ul>
Users:
<ul>
  {% for user in users %}
  <li>
    <td>{{ user.name }}</td>
    
    
  </li>
  {% endfor %}
</ul>
I have signed up for the following workshifts:
<ul>
  {% for show in showList %}
  <li>
    <tr>
    <td><a href="{{ url_for('show_information', show_id=show.id) }}">{{ show.name }}</a></td>
    <td>{{ show.show_date }}</td>
    <td>
      <form method="POST" action="{{ url_for('shift_delete', show_id=show.id) }}">
        <input type="submit" value="Cancel sign up (Warning, no confirmation!)!"/>
      </form>
    </td>
  </tr>
    
    
    
  </li>
  {% endfor %}
</ul>

{% if 'ADMIN' in current_user.roles() %}
Admin-bitti on päällä!
{% else %}
{% endif %}

{% endif %}

    
  </p>
{% endblock %}
