<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Staffer!</title>
  </head>
  
  <body>
      {% if current_user.is_authenticated %}
      <p>
	      Logged in as {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Log out</a>
      </p>
      <ul>
        <li><a href="{{ url_for('productions_form') }}">Add a new production</a></li>
        
        <li><a href="{{ url_for('productions_index') }}">List productions and/or add shows to a production</a></li>
        
        <br>
        <li><a href="{{ url_for('shows_index') }}">List all shows</a></li>

        <br>
        <br>
          PLEASE NOTE: Functionality has changed: To add shows to a production, please visit List productions -page.
        

      </ul>
      {% else %}
      <h2>Staffer 0.1</h2>
      <h3>You have to be logged in to use the application</h3>
      <td>
        <a href="{{ url_for('auth_login') }}">Log in!</a>
      </td>
      <td>
        <a href="{{ url_for('registration_form') }}">Register new user!</a>
      </td>
      
      {% endif %}
      

    
    {% block body %}
    <p>
Content.
    </p>
    {% endblock %}
  </body>
</html>

