<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Staffer!</title>
  </head>
  
  <body>
      {% if current_user.is_authenticated %}
      <p>
	      Kirjautunut nimellä {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
      </p>
      <ul>
        
        <li><a href="{{ url_for('productions_index') }}">List productions</a></li>
        <li><a href="{{ url_for('productions_form') }}">Add a new production</a></li>
        <br>
        <li><a href="{{ url_for('shows_index') }}">List shows</a></li>
        <li><a href="{{ url_for('shows_form') }}">Add a show</a></li>

      </ul>
      {% else %}
      <h2>Staffer 0.1</h2>
      <h3>You have to be logged in to use the application</h3>
      <td>
        <a href="{{ url_for('auth_login') }}">Log in!</a>
      </td>
      <td>
        <a href="{{ url_for('registration_form') }}">Register new user!</a>
      </td>
      
      {% endif %}
      

    
    {% block body %}
    <p>
Content.
    </p>
    {% endblock %}
  </body>
</html>

