{% extends "layout.html" %}

{% block body %}
  <p>


<table>
  <tr>

</tr>
<tr>
  <td>{% if signups|length > 0 %}
    <p>
      Number of sign-ups per show:
    </p>
    {% endif %}
    
    
    {% if signups|length > 0 %}
    <tr>
      <td><b>Sign-ups</b></td>
      <td><b>Show name</b></td>
      <td><b>Showtime</b></td>
      <td><b>Show id</b></td>
      
    </tr>
    {% endif %}

    <ul>
      {% for signup in signups %}
      

      <tr>
        <td>{{ signup.LKM }}</td>
        <td>{{ signup.show.name }}</td>
        <td>{{ signup.show.show_date|datetime }}</td>
        <td>{{ signup.show.id }}</td>
        
      </tr>       

      
      {% endfor %}
    </ul> 
  </tr>
</table>
{% endblock %}
