{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Show</th>
      
      <th>Showtime</th>




      <th></th>
    </tr>
    {% for show in shows %}
    <tr>
      <td><a href="{{ url_for('show_details', show_id=show.id) }}">{{ show.name }}</a></td>
      <td>{{ show.show_date|datetime }}</td>
      
      <td>
        <form method="POST" action="{{ url_for('shows_delete', show_id=show.id) }}">
          <input type="submit" value="Delete show (Warning, no confirmation!)!"/>
        </form>
      </td>

      <td>
        <form method="POST" action="{{ url_for('shows_hand_up', show_id=show.id, account_id=current_user.id) }}">
          <input type="submit" value="I want to work here"/>
        </form>
      </td>

    </tr>
    {% endfor %}
  </table>
{% endblock %}