{% extends "layout.html" %}
  
{% block body %}

<form method="POST" action="{{ url_for('shows_create') }}">
  <table>
    <tr>
<td>
  {{ form.name.label }}
</td>
<td>
  {{ form.name }}
</td>
<td>
  <ul>
    {% for error in form.name.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</td>
    </tr>
    <tr>
      <td>
        {{ form.showdate.label }}
      </td>
      <td>
        {{ form.showdate }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.showtime.label }}
      </td>
      <td>
        {{ form.showtime }}
      </td>
    </tr>
    <tr>

    </tr>
 
    <tr>
<td colspan="2">
  <input type="submit" value="Add a new show"/>
</td>
    </tr>
</form>

{% endblock %}