{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Production</th>
      

      <th></th>
    </tr>
    {% for production in productions %}
    <tr>
      <td><a href="{{ url_for('production_details', production_id=production.id) }}">{{ production.name }}</a></td>
      <td>
        <form method="GET" action="{{ url_for('add_shows_to_production', production_id=production.id) }}">
          <input type="submit" value="Add shows to this production!"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('production_delete', production_id=production.id) }}">
          <input type="submit" value="Delete production (Warning, no confirmation!)!"/>
        </form>
      </td>
    </tr>
    <tr>
      {% for show in production.shows|sort(attribute = 'show_date') %}
      
      <tr>
        
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ show.name }} </td>
        <td><a href="{{ url_for('show_details', show_id=show.id) }}">{{ show.show_date|datetime }}</a></td>
      </tr>
        
      {% endfor %}

      {% if production.shows|length > 0 %}
      <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;Total: {{ production.shows|length }}</td></tr>
      {% endif %}

    </tr>
    {% endfor %}
  </table>
{% endblock %}